.App {
  text-align: center;
}

 .mainComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
.csvPicker {
  display: block;
  margin: 20px auto;
}
 table, th, td {
  
  padding: 10px;
  border: 1px solid black;
 }
 
